* {
    box-sizing: border-box;
}

html,
body {
    width: 100vw;
    height: 100vh;
    margin: 0;
}



#videoBG {
    position: fixed;
}

.navWrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: sticky;
    top: 2vw;
    right: calc(50vw - 124px);
    z-index: 2;

}

.nav {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 15px;
    font-family: 'Cousine', monospace;
}



.overlay {
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1;
    background: #ada281;
    opacity: 0.65;

}



a:link {
    color: black;
    text-decoration: none;
}


a:hover {
    text-decoration: underline;
}

a:visited {
    color: black;
}


a:active {
    color: black;
}

.contentWrapper {
    border-radius: 5px;
    background-color: #bfb79f;
    width: 80vw;
    margin: 0 auto;
}

.contentWrapper .imgWrapper {
    border-radius: 5px;
    margin: 10px auto 0;
    padding-top: 15px;
    width: 50vw;
}

.contentWrapper .imgWrapper img {
    width: 100%;
}

@media (min-aspect-ratio: 16/9) {
    #videoBG {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    #videoBG {
        width: auto;
        height: 100%;
    }
}

@media (max-width: 767px) {
    #videoBG {
        display: none;
    }

    #bgImg {
        background: url("3billeder/optimeretbg1.jpg");
        background-size: cover;
    }
}

/* Om-siden start */

.aboutPage .contentWrapper .textWrapper {
    display: flex;
    justify-content: space-around;
    font-family: 'Cousine', monospace;

}

.aboutPage .contentWrapper .textWrapper div {
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.3);
    width: 45%;
    margin: 20px 0;
    padding: 0 15px;
}

.aboutPage .contentWrapper .textWrapper h2 {
    text-align: center;
}

.Row {
    display: flex;
    justify-content: space-around;
    margin-top: 5vw;
}

.Row>div {
    width: 45%;
}

.lastImg {
    margin: 5vw auto 0;
    width: 95%;
}

.tekstWrapper {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    padding: 0 20px;
}

@media (max-width: 680px) {

    .aboutPage .contentWrapper .textWrapper, .Row {
        flex-direction: column;
        align-items: center;
    }

    .firstRow>div:first-child {
        order: 2;
        margin-top: 10px;
    }

    .Row>div {
        width: 95%;
    }

    .secondRow>div:first-child {
        margin-bottom: 10px;
    }

    .aboutPage .contentWrapper .textWrapper div {
        width: 90%;
    }
}

/* Om-siden slut */

/*  Kontakt-siden start */

.contactWrapper .contactMap {
    width: 600px;
}

.contactWrapper {
    display: flex;
    font-family: 'Cousine', monospace;
    justify-content: space-around;

}

.contactWrapper > div {
    width: 45%;
    margin: 20px 0;
}

.contactWrapper .contactInformation {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    padding: 0 15px;
}

.contactWrapper p {
    line-height: 2;
}

.contactWrapper .formFelt {
    margin-bottom: 1rem;
}

.contactWrapper label {
    font-weight: 600;
}

.contactWrapper input,
textarea {
    display: block;
    font-size: 1.1rem;
    padding: 1.5rem;
    border-radius: 4px;
    border: 0;
    width: 100%;
}

.contactWrapper button {
    cursor: pointer;
    padding: .75rem 1rem;
    border: 0;
    border-radius: 4px;
    background: #e5e2d8;
    font-weight: 700;
    font-size: 1rem;
    font-family: 'Cousine', monospace;
}

.contactWrapper button:hover {
    opacity: 0.9;
}

@media (max-width: 680px) {
    .contactWrapper {
        flex-direction: column;
        align-items: center;
    }

    .contactWrapper > div {
        width: 90%;
    }
}

/* Kontakt-siden slut */


@media (max-width: 680px) {
    .contentWrapper .imgWrapper {
        width: 90%;
    }
}


/*//produkter//*/
/**/



h2 {
    display: flex;
    justify-content: space-around;
    /*font-family:*/
}

img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}



.sectionWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3vw;
    margin: 3vw;
    padding-top: 3vw;


}

@media (max-width: 680px) {
    .sectionWrapper {
        grid-template-columns: 1fr;
        grid-gap: 0;
    }
}
