* {
    box-sizing: border-box;
}

html,
body {
    width: 100vw;
    height: 100vh;
    margin: 0;
}


#videoBG {
    position: fixed;
    z-index: -1;

}


.nav {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 8px;
    position: fixed;
    top: 9vw;
    right: 45vw;
    z-index: 2;

}


#frontText {
    position: absolute;
    text-align: center;
    top: 4vw;
    left: 38vw;
    z-index: 2;
}

.overlay {
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1;
    background: #ada281;
    opacity: 0.65;
}

.sectionWrapper {
    display: flex;
    justify-content: space-between;
}

@media (min-aspect-ratio: 16/9) {
    #videoBG {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    #videoBG {
        width: auto;
        height: 100%;
    }
}

@media (max-width: 767px) {
    #videoBG {
        display: none;
    }

    body {
        background: url();
        background-size: cover;
    }

    h1 {
        margin-right: 42vw;
    }
}
